/* About Pate */

#patetitle {
    font-family: "Brush Script MT", Papyrus;
    font-size: 40px;
    text-align: center;
}

.titlefont {
    font-size: 32px;
    font-family: "Lucida Console", Monaco;
}

p {
    font-size: 17px;
    font-family: "Lucida Console", Monaco;
}

li {
    font-size: 17px;
    font-family: "Lucida Console", Monaco; 
}

.pateimg {
    height: auto;
    width: 290;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

/* About Pouding */
#poudingtitle {
    font-family: "Brush Script MT", Papyrus;
    font-size: 40px;
    text-align: center;
}

.poudingimg {
    height: auto;
    width: 220;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 19px;
    font-family: "Lucida Console", Monaco;
    font-weight: 1000;
}